
@import 'styles2';

$grisclair: lightgrey;
$noir: black;
$alignement: center;

.contenant{
    display: grid;
    grid-template-areas: "a b c d"
                         "e f g h"
                         "i j k l"
                         "m n o p";
    
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    border: 1px solid $noir;
    text-align: $alignement;
    background-color: $grisclair ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $noir;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 2px;
}

.box{
    display: flex;
    justify-content:space-evenly;
    margin-top: 15px;
}

.image-contenant:hover{
    transform:scale(0.9);
    transition: 2s;
}

#img-1{
    grid-area: a;
}

#img-2{
    grid-area: b;
}
#img-3{
    grid-area: c;
}
#img-4{
    grid-area: d;
}
#img-5{
    grid-area: e;
}
#img-6{
    grid-area: f;
}
#img-7{
    grid-area: g;
}
#img-8{
    grid-area: h;
}
#img-9{
    grid-area: i;
}
#img-10{
    grid-area: j;
}
#img-11{
    grid-area: k;
}
#img-12{
    grid-area: l;
}
#img-13{
    grid-area: m;
}
#img-14{
    grid-area: n;
}
#img-15{
    grid-area: o;
}
#img-16{
    grid-area: p;
}


body{

    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    display:block;
}

footer{
    text-align: $alignement;
}